<lesson>
    <activity>
        <div class="row">
            <div class="col-md-12 navbar-fixed-top _progress-bar" style="padding-left:0px">
                <div class="_progress-canvas">
                    <div class="_progress" style="width:{{ progressWidth }}%;"></div>
                </div>
                <div id="buttonContainer" class="return-button">
                    <div ng-click='pauseLearn()'><img src="img/exit.png"/></div>
                </div>
            </div>
        </div>

        <div id="pt-main" class="col-md-12 background-canvas">

            <div id="lecture" ng-show="lecture">
                <div class="col-md-8 col-md-offset-2">
                	<h3>lecture标题： {{title}}</h3>                    

                    <div ng-bind-html-unsafe="body"></div>
                </div>
                <div class="col-md-2 ctrlBar">
                    <div ng-hide="hideContinueButton"
                         ng-click='continueActivity()'>
                        <img src="img/next.png"/>
                    </div>
                </div>
            </div>

            <div id="quiz" ng-hide="lecture">
                <div switch ng-hide="showQuizSummary">
                    <problem id="{{ problem.id }}"
                             class="pt-page pt-page-{{ $index+1 }}"
                             ng-repeat='problem in problems'
                             ng-model="problemShow"
                             activity=true></problem>
                </div>

                <div ng-show="showQuizSummary">
                    <span>总共答对&nbsp;{{ quizCorrectCount }}&nbsp;题，正确率&nbsp; {{ quizCorrectPercent }}&nbsp;</span>

                    <div ng-click="nextActivity()">
                        <img src="img/next.png"/>
                    </div>
                </div>
            </div>

        </div>

    </activity>
</lesson>
<script src="js/pagetransitions.js"></script>
