<div class="chapter-container">
    <chapter>
        <header class="main-header">
            <div class="chapter-back-button" ng-click="returnToSubject()">
                <img src="img/back.png"/>
            </div>
            <span>{{ title }}</span>

            <div class="achievements-button" ng-click="enterAchievementCenter()">
                <img src="img/achievements-icon.png"/>
                <span class="font-size-small">成就陈列室</span>
            </div>
        </header>

        <div class="chapter-content">
            <tree></tree>
        </div>
    </chapter>
</div>
