<div id='problem{{$index}}'>
    <div class="col-md-10">
        <div class="question-content">
            <!--<span>第&nbsp;{{ $index+1 }}&nbsp;题&nbsp;/&nbsp;共&nbsp;{{ total }}&nbsp;题&nbsp;{{ problem.parent_id }}</span><br> -->
            <span>{{ problemIndex+$index+1 }}.&nbsp;{{ problem.title }}</span>
            <span class="question-type">[{{ type }}]</span><br>
            <span ng-bind-html-unsafe="body"></span><br>
        </div>

        <div ng-repeat='choice in problem.choices' class="col-md-{{ colNum }}" choices>
            <div id='problem{{$parent.$index}}_choice{{$index}}'
                 class="choice-layout-{{ layout }}-state-{{ checked[$index] }}"
                 ng-click='chooseOption(choice.id, $index)'>
                <div ng-bind-html-unsafe="choiceBody[choice.id]"></div>
            </div>
        </div>
        <p>

        <div ng-show='showExplanation'>题目解析：{{ explanation }}</div>
        </p>
    </div>

    <div class="col-md-2 ctrlBar">
        <div class="continue-btn" ng-hide='hideSubmitButton' class="submit-btn"
             ng-click='submitAnswer()'>
            <img src="img/submit.png"/>
        </div>
        <div class="continue-btn" ng-show='showContinueButton'
             ng-click='continueProblem()'>
            <img src="img/next.png"/>
        </div>
        
        <div class="hint-btn" ng-show="showHintButton" ng-click="showHint()">
            <img src="img/hint.png"/>
        </div>
        <span ng-show="showHintBox">{{ hint }}</span>
    </div>
</div>