<div id='problem{{$index}}'>
    <div class="col-md-10">
        <div class="question-content">
            <!--<span>第&nbsp;{{ $index+1 }}&nbsp;题&nbsp;/&nbsp;共&nbsp;{{ total }}&nbsp;题&nbsp;{{ problem.parent_id }}</span><br> -->
            <span>{{ problemIndex+$index+1 }}.&nbsp;<span class="question-type">({{ type }})</span></span>
            <span>{{ problem.title }}</span><br>
            <span ng-bind-html-unsafe="body"></span><br>
        </div>

        <div class="has-{{ problemResult }} singlefilling-text-{{ problemResult }}">
            <label for='problem{{ problem.id }}'>
                <input type='text' id='problem{{ problem.id }}'
                       class="form-control"
                       name='choices_{{problem.id}}'
                       placeholder="填写答案"
                       ng-model='answer[problem.id]'
                       ng-change="writeAnswer(answer[problem.id])"/>
            </label>
        </div>

        <div class="col-md-12 explanation-container pull-left" ng-show='showExplanation'>
            <div class="explanation-title">
                <img src="img/answer.png"/>&nbsp;&nbsp;&nbsp;正确答案
            </div>
            <div class="explanation-content">{{ correct_answers }}</div>
            <div class="explanation-title">
                <img src="img/explanation.png"/>&nbsp;&nbsp;&nbsp;题目解析
            </div>
            <div class="explanation-content">{{ explanation }}</div>
        </div>
    </div>

    <div class="col-md-2 ctrlBar">
        <div class="continue-btn" ng-hide='hideSubmitButton' class="submit-btn"
             ng-click='submitAnswer()'>
            <img src="img/{{ submitIcon }}.png"/>
        </div>
        <div class="continue-btn" ng-show='showContinueButton'
             ng-click='continueProblem()'>
            <img src="img/next.png"/>
        </div>

        <div class="hint-btn" ng-show="showHintButton" ng-click="showHint()">
            <img src="img/hint.png"/>
        </div>
        <span ng-show="showHintBox">{{ hint }}</span>
    </div>
</div>